body {
  background: linear-gradient(to right, #e66465, #9198e5);
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  text-align: center;
}

.navprincipal p {
  color: white;
  margin: 0;
}
